{{ form_start(form) }}
   <div class="row">
        <div class="col-lg-10">
            {{ form_row(form.q, {'attr' : {'class' : 'form-control'}}) }}
        </div>
        <div class="col-lg-2">
            <button class="w-100 btn btn-success">Filtrer</button> 
        </div>
    </div>
{{ form_end(form) }}
