{% extends 'base.html.twig' %}

{% block title %}Nouvelle la catégorie{% endblock %}

{% block body %}
    <div class="container">
        <h1>Nouvelle la catégorie</h1>
        {{ include('category/_form.html.twig') }}
    </div>
{% endblock %}
