{% extends 'base.html.twig' %}

{% block title %}New Booking{% endblock %}

{% block body %}

    <div class="container">
        <h1>Créer un nouveau événement dans l'agenda</h1>

        {{ include('booking/_form.html.twig') }}

        <a href="{{ path('booking_overview') }}">Retourner à la liste</a>
    </div>

{% endblock %}
