{% extends 'base.html.twig' %}

{% block title %}Créer un événement dans le domaine de Saint-Roch{% endblock %}

{% block body %}

    <div class="container mt-3">
        <h1>Créer un nouveau événement dans l'agenda</h1>

        {{ include('booking/_form.html.twig') }}
        
        <a href="{{ path('booking_overview') }}">Retourner à la liste</a>
    </div>

{% endblock %}
