{% extends 'base.html.twig' %}

{% block title %}Mettre en ligne une vidéo{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h1>Mise en ligne d'une nouvelle vidéo 🐾</h1>
        {# TODO: Créer du texte d'explication #}
        <p>Nam ut irure incididunt libero fuga, curabitur. Curabitur odit pariatur. 
        Aliquip iure sint at quibusdam! Molestiae, tortor anim viverra maiores auctor voluptate
        s expedita recusandae? Elit dolorem! Culpa eaque sint incididunt sociosqu diam laboris. 
        Dignissimos venenatis laoreet, blanditiis nibh sapien! Ornare sollicitudin adipisicing sc
        elerisque odio, rhoncus, modi diamlorem adipisicing! Mauris sint repellendus, augue orci co
        ngue dolorum netus egestas vestibulum condimentum ac, dignissim penatibus dignissimos eget 
        eiusmod minim diamlorem laboriosam, mus ratione nobis condimentum velit mauris porttitor p
        er sollicitudin rhoncus magni egestas curae irure faucibus accusamus. Consectetuer neque pa
        riatur atque elementum hendrerit, autem lacus incididunt vel! Inceptos class, sodales provident cupidatat excepturi.</p>
        {# TODO: à retravailler #}
        {# <p>Indiquer votre message et les dates où vous êtes disponible ainsi que ce que vous voulez travaillez.</p> #}
        {% include "video/_form.html.twig" %}
    </div>
{% endblock %}
