{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau contrat{% endblock %}

{% block body %}
    <div class="container">
        <h1>Créer un nouveau contrat</h1>
        {{ include('contract/_form.html.twig') }}
        <a href="{{ path('user_index') }}">Retourner voir les clients du Domaine</a>
    </div>

{% endblock %}
