{% extends 'base.html.twig' %}

{% block title %}Les contrats du Domaine de Saint-Roch{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h1>Les contrats du Domaine de Saint-Roch en fin de contrat</h1>
        {# TODO: Créer du texte d'explication #}
        <p>Nam ut irure incididunt libero fuga, curabitur. Curabitur odit pariatur. 
        Aliquip iure sint at quibusdam! Molestiae, tortor anim viverra maiores auctor voluptate
        s expedita recusandae? Elit dolorem! Culpa eaque sint incididunt sociosqu diam laboris. 
        Dignissimos venenatis laoreet, blanditiis nibh sapien! Ornare sollicitudin adipisicing sc
        elerisque odio, rhoncus, modi diamlorem adipisicing! Mauris sint repellendus, augue orci co
        ngue dolorum netus egestas vestibulum condimentum ac, dignissim penatibus dignissimos eget 
        eiusmod minim diamlorem laboriosam, mus ratione nobis condimentum velit mauris porttitor p
        er sollicitudin rhoncus magni egestas curae irure faucibus accusamus. Consectetuer neque pa
        riatur atque elementum hendrerit, autem lacus incididunt vel! Inceptos class, sodales provident cupidatat excepturi.</p>
        {% include "contract/_table_contracts.html.twig" %}
    </div>
    
{% endblock %}
