{# templates/bundles/TwigBundle/Exception/error403.html.twig#}
{% extends 'base.html.twig' %}
{% block title %}Erreur 403{% endblock %}
{% block body %}
    <h3 class="text-center">Vous n'êtes pas encore autorisé à consulter cette page - sécurité 403</h3>
	<div class="text-center"  > 
        {{ exception.message }}  
    </div>
{% endblock %}
