
{% extends 'base.html.twig' %}
{% block title %}Domaine de Saint-Roch | Erreur 404{% endblock %}
{% block body %}
    <div class="container text-center">
        <h3>Page non trouvé</h3>
        <img src="/images/Logo-DSR.png" alt="Logo du domaine">
        <div> 
            {{ exception.message }}  
        </div>
    </div>

{% endblock %}
