{{ form_start(form) }}
    {{ form_row(form.name, {'attr' : {'class' : 'form-control'}}) }}
    {{ form_row(form.breed, {'attr' : {'class' : 'form-control'}}) }}
    <button class="btn btn-success mt-3">Ajouter ce chien à mon profil</button>
{{ form_end(form) }}
